:root {
    --primary_color: #e85205;
    --while__color: #fff;
    --black__color: #000;
    --text__color: #333;
    --border__color: rgb(218, 218, 218);
}

* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid_full--width {
    width: 100%;
}

.grid_row {
    display: flex;
    flex-wrap: wrap;
}

.header__nav-list-icon-link {
    font-size: 1.6rem;
    color: #fff;
    margin-right: 10px;
    border: 5px;
    text-decoration: none;
}


/* animation */

@keyframes FadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/* Modal */

.modal {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.modal_overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

.modal_body {
    margin: auto;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    z-index: 1;
}


/* button style */

.btn {
    min-width: 142px;
    height: 36px;
    text-decoration: none;
    border: none;
    border-radius: 2px;
    font-size: 1.4rem;
    align-items: center;
    padding: 0;
    outline: none;
    cursor: pointer;
    color: var(--text__color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn:hover {
    background-color: rgba(230, 220, 220, 0.7);
}

.btn-size--s {
    line-height: 32px;
    font-size: 1.4rem;
}

.btn.btn--primary {
    color: var(--while__color);
    background-color: var(--primary_color);
}