.header {
    height: 120px;
    background-image: linear-gradient(0, #e85205, #e85205);
}

.header__nav {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

.header__nav-list {
    text-decoration: none;
    display: flex;
}

.header__nav-list-item {
    margin: 0 8px;
    position: relative;
}

.header__nav-list-item--has-qr:hover .header_QR {
    display: block;
}


/* user */

.header__nav-user {
    display: inline-flex !important;
    position: relative;
    justify-items: center;
    /* align-items: center; */
}

.header__nav-user-img {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    border: 2px solid rgba(146, 138, 137, 0.08);
}

.header__nav-user-name {
    margin-left: 6px;
    color: var(--while__color);
    font-size: 1.6rem;
    font-weight: 1.6rem;
    align-items: center;
    line-height: 2.3rem;
}

.header__nav-user:hover .header__nav-user-menu {
    display: block;
}

.header__nav-user-menu {
    position: absolute;
    width: 180px;
    background-color: var(--while__color);
    color: var(--text__color);
    top: 100%;
    right: 0;
    z-index: 1;
    border: 1px solid #d8d8d8;
    display: none;
}

.header__nav-user-menu::before {
    content: "";
    position: absolute;
    border-width: 10px 16px;
    border-style: solid;
    border-color: transparent transparent var(--while__color) transparent;
    top: -17px;
    right: 10px;
}

.header__nav-user-menu::after {
    content: "";
    position: absolute;
    top: -11px;
    right: 0;
    width: 121px;
    height: 11px;
}

.header__nav-user-item {
    padding: 8px;
}

.header__nav-user-item:hover {
    background-color: #f5f5f5;
}

.header__nav-list-item-no-cursor:hover {
    cursor: text;
    color: var(--while__color);
}

.header__nav-list-item,
.header__nav-list-item-link {
    display: inline-block;
    font-size: 1.6rem;
    color: var(--while__color);
    font-weight: 200;
    text-decoration: none;
}

.header__nav-list-item:hover,
.header__nav-list-item-link:hover,
.header__nav-list-icon-link:hover {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.7);
}

.header__nav-list-item--strong {
    font-weight: 500;
}

.header__nav-list-item--separate::after {
    content: "";
    display: block;
    position: absolute;
    width: 1px;
    height: 16px;
    background-color: #fff;
    top: 0;
    right: -9px;
}


/* header_QR */

.header_QR {
    width: 180px;
    background-color: var(--while__color);
    position: absolute;
    left: 0;
    padding: 8px;
    top: 150%;
    border-radius: 8px;
    display: none;
    animation: FadeIn linear 0.3s;
    z-index: 1;
}

.header_QR::before {
    position: absolute;
    left: 0;
    top: -16px;
    width: 100%;
    height: 20px;
    content: "";
    display: block;
}

.header_QR-img {
    width: 100%;
}

.header_QR-App {
    display: flex;
    justify-content: space-between;
}

.header_QR-App--link:nth-child(1) {
    padding-left: 11px;
}

.header_QR-App--link:nth-child(2) {
    padding-right: 11px;
}

.header_QR-App--download_img {
    height: 14px;
}


/* THÔNG BÁO */

.header__notify {
    position: absolute;
    top: 150%;
    border-radius: 5px;
    right: 0;
    width: 404px;
    background-color: #fff;
    border: 1px solid #d8d8d8;
    box-shadow: 0 0 5px #a8a7a7;
    display: none;
    transform-origin: right top;
    animation: headerNotify ease-out 0.3s;
    z-index: 1;
}

.header__notify::before {
    content: "";
    border-width: 20px 30px;
    position: absolute;
    border-style: solid;
    border-color: transparent transparent var(--while__color) transparent;
    right: 14px;
    top: -30px;
}


/* tạo hình tam giác tên notify */

.header__notify::after {
    content: "";
    position: absolute;
    display: block;
    left: 0;
    top: -16px;
    width: 100%;
    height: 20px;
}

@keyframes headerNotify {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.header__nav-list-item--has_notification:hover .header__notify {
    display: block;
}

.header__notify-header {
    height: 40px;
    font-size: 1.8rem;
    background-color: var(--while__color);
    cursor: default;
}

.header__notify-header h3 {
    color: rgb(99, 95, 95);
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 40px;
    margin: 0 0 0 16px;
}

.header__notify-list {}

.header__notify-item {
    display: flex;
}

.header__notify-item:hover {
    background-color: aqua;
}

.header__notify-item--viewed {
    background-color: rgba(235, 75, 43, 0.08);
}

.header__notify-link {
    display: flex;
    text-decoration: none;
    padding: 12px;
}

.header__notify-img {
    width: 48px;
    object-fit: contain;
}

.header__notify-info {
    margin-left: 12px;
}

.header__notify-name {
    display: block;
    font-size: 1.7rem;
    font-weight: 400;
    color: var( --black__color);
}

.header__notify-desc {
    display: block;
    font-size: 1.4rem;
    line-height: 1.6;
    color: var(--text__color);
}


/* footer thông báo */

.header__notify-footer {
    text-align: center;
}

.header__notify-footer:hover {
    background-color: aqua;
    color: var(--text__color);
}

.header__notify-footer-btn {
    display: block;
    text-decoration: none;
    line-height: 1.6;
    color: var(--text__color);
    padding: 4px 16px;
}


/* Modal Auth */

.Auth-form {
    width: 500px;
    background-color: var(--while__color);
    border-radius: 5px;
    overflow: hidden;
    animation: FadeIn linear 0.2s;
}

.Authe_container {
    padding: 0 32px;
}

.Auth-form__header {
    padding: 22px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Auth-form__heading {
    font-size: 2.2rem;
    font-weight: 400;
    color: var(--text__color);
}

.Auth-form__switch-btn {
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--primary_color);
    cursor: pointer;
}

.Auth-form__form {}

.Auth-form__input {
    height: 40px;
    width: 100%;
    padding: 0 12px;
    margin-bottom: 16px;
    font-size: 1.4rem;
    border: 1px solid var(--border__color);
    border-radius: 2px;
    outline: none;
}

.Auth-form__input:focus {
    border-color: var(--primary_color);
}

.Auth-form__aside {
    margin: 4px 0;
}

.Auth-form__policy-text {
    font-size: 1.2rem;
    line-height: 1.8rem;
    text-align: center;
}

.Auth-text__link {
    color: var(--primary_color);
    text-decoration: none;
}

.Auth-form__controls {
    margin-top: 60px;
    display: flex;
    justify-content: flex-end;
}

.Auth-form__control--back {
    margin-right: 12px;
}

.Auth-form__socials {
    padding: 8px 36px;
    margin-top: 16px;
    background-color: #d8d8d8;
    display: flex;
    justify-content: space-between;
}

.btn--width-icon {
    padding: 0 4px;
}

.icon_fb_gg {
    font-size: 17px;
    color: rgb(42, 76, 228);
    padding-right: 8px;
}

.Auth-form__help {
    display: flex;
    justify-content: flex-end;
}

.Auth-form__help-link {
    font-size: 12px;
    color: var(--black__color);
    text-decoration: none;
}

.Auth-form__help-link--Forgot_password {
    color: var(--primary_color);
    margin-right: 12px;
}

.Auth-form__help-link--help {
    color: var(--text__color);
}


/* header__search */

.header__search {
    display: flex;
    align-items: center;
}

.header__search-icon {
    display: flex;
    align-items: center;
    width: 150px;
    background-color: var(--primary_color);
    outline: none;
}

.header__search-icon--shoppe {
    justify-content: center;
    width: 76px;
    height: 70px;
}

.header__search-text-wrap {
    flex: 1;
    height: 100%;
    position: relative;
}

.header__search-box {
    display: flex;
    width: 100%;
    align-items: center;
    height: 40px;
    border-radius: 3px;
    background-color: var(--while__color);
}

.header__search-text {
    width: 100%;
    height: 100%;
    padding-left: 16px;
}

.header__search-cart {
    width: 138px;
    margin: 0 10px;
    text-align: center;
    color: var(--while__color);
    position: relative;
}

.header__search-cart--ti-shopping-cart {
    font-size: 40px;
}

.header__search-notify {
    position: absolute;
    top: 0;
    left: 25px;
    padding: 0px 8px;
    font-size: 1.4rem;
    line-height: 1.4;
    border-radius: 10px;
    border: 2px solid var(--primary_color);
    color: var(--primary_color);
    background-color: var(--while__color);
}

.header__search-box-ti {
    height: 36px;
    width: 70px;
    margin: 0 3px;
    background-color: var(--primary_color);
    border: none;
}

.header__search-box-ti:hover {
    opacity: 0.8;
    cursor: pointer;
}

.header__search-box-ti-search {
    width: 30px;
    padding: 0 15px;
    color: var(--while__color);
}


/* no cart */

.header__search-cart-wrap {
    display: inline-block;
    padding: 0 19px;
    cursor: pointer;
}

.header__list-cart {
    position: absolute;
    top: 111%;
    right: 20px;
    width: 400px;
    background-color: var(--while__color);
    border: 3px solid var(--border__color);
    border-radius: 3px;
    display: none;
    animation: FadeIn linear 0.2s;
    transform-origin: right top;
    animation: headerNotify ease-out 0.2s;
    cursor: default;
}

.header__list-cart--no-cart .header__no-cart-img,
.header__list-cart--no-cart .header__no-cart-msg {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.header__search-cart:hover .header__list-cart {
    display: block;
}

.header__list-cart::before {
    content: "";
    border-width: 20px 30px;
    position: absolute;
    border-style: solid;
    border-color: transparent transparent var(--while__color) transparent;
    right: 7px;
    top: -28px;
    cursor: pointer;
}

.header__no-cart-img {
    width: 60%;
    display: none;
}

.header__no-cart-msg {
    font-size: 16px;
    color: var(--text__color);
    padding-bottom: 57PX;
    display: none;
}


/* have cart */

.header__list-cart {
    z-index: 1;
}

.header-cart {
    font-size: 1.4rem;
    line-height: 1.6rem;
    color: var(--text__color);
    opacity: 0.8;
    text-align: left;
    padding: 12px 0;
    padding-left: 16px;
}

.header__cart-img {
    width: 40px;
    height: 40px;
    margin: 12px;
    border: 2px solid var(--border__color);
}

.header__cart-list-item {
    padding-left: 0;
    color: #000;
    height: 35vh;
    overflow-y: scroll;
}

.header__cart-item {
    display: flex;
}

.header__cart-item:hover {
    background-color: #f8f8f8;
}

.header__cart-item-info {
    width: 100%;
    margin-right: 12px;
}

.header__cart-item-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 0;
}

.header__cart-item-name {
    font-size: 1.4rem;
    line-height: 2rem;
    max-height: 4rem;
    flex: 1;
    padding-right: 5px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    font-weight: 500;
    color: var(--text__color);
    text-align: left;
}

.header__cart-item-price-wrap {
    align-items: center;
}

.header__cart-item-price {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--primary_color);
}

.header__cart-item-multiply {
    font-size: 1.2rem;
    margin: 0 4px;
    color: #757575;
}

.header__cart-item-qnt {
    color: #757575;
    font-size: 1.2rem;
}

.header__cart-item-body {
    display: flex;
    color: #757575;
    font-size: 1.2rem;
    justify-content: space-between;
}

.header__cart-item-description {
    color: #757575;
    font-size: 1.2rem;
}

.header__cart-item-remove {
    justify-content: right;
    color: var(--text__color);
    font-size: 1.4rem;
    font-weight: 400;
}

.header__cart-item-remove:hover {
    color: #e85205;
    cursor: pointer;
}

.header__cart-view {
    margin: 0 12px 12px 12px;
    float: right;
}

.header__cart-view:hover {
    opacity: 0.8;
}


/* search-history */

.header__search-history {
    position: absolute;
    width: 90%;
    top: 100%;
    margin: 2px 0 0 0;
    background-color: var(--while__color);
    border: 1px solid #d8d8d8;
    box-shadow: 0 0 5px #a8a7a7;
    display: none;
    z-index: 1;
}

.header__search-history::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 20px;
    left: 0;
    top: -10px;
}

.header__search-text:focus~.header__search-history {
    display: block;
}

.search-history {
    width: 100%;
    font-size: 16px;
    color: #757575;
    background: var(--while__color);
    padding: 16px;
}

.search-history-item a {
    padding: 8px;
    margin-left: 8px;
    font-size: 16px;
    line-height: 2;
    text-decoration: none;
    color: var(--text__color);
    display: block;
}

.search-history-item:hover {
    background-color: aqua;
    cursor: pointer;
}


/* category */

.app_container {
    padding: 16px 0;
}

.category {
    margin-bottom: 8px;
}

.category-list {
    padding: 0;
}

.category-item {
    padding: 12px 16px;
}

.category-item-icon {
    display: none;
    color: var(--primary_color);
    margin-left: 8px;
}

.category-item:hover .category-item-icon,
.category-item:hover .category-item_link,
.category-item:hover {
    color: var(--primary_color);
    cursor: pointer;
    background-color: #faf3f3;
    display: flex;
    align-items: center;
}

.category-item_link {
    text-decoration: none;
    color: var(--black__color);
    font-size: 1.4rem;
}


/* grid_column-10 */

.home {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    padding: 12px 22px;
    border-radius: 2px;
}

.home_filter {
    display: flex;
    align-items: center;
    background-color: #ffffff;
}

.home_filter__label {
    font-size: 1.4rem;
    color: var(--black__color);
    margin-right: 16px;
}

.home_filter_btn {
    min-width: 90px;
    margin: 0 5px;
}

.select_option::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    height: 20px;
}

.select_option {
    display: none;
    z-index: 1;
}

.select-input:hover .select_option {
    display: block;
}

.select-input_list {
    border: 1px solid rgba(235, 75, 43, 0.08);
    border-radius: 3px;
    box-shadow: 0 0 5px #a8a7a7;
}

.select-input_item {
    background-color: #efefef;
    padding: 12px 24px;
}

.select-input_item:hover,
.select-input_item:hover .select-input_link {
    background-color: var(--primary_color);
    cursor: pointer;
    color: var(--while__color)
}

.select-input_link {
    font-size: 14px;
    color: var(--text__color);
    text-decoration: none;
}


/* home_filter__pag */

.home_filter__page-num {
    margin-right: 16px;
}

.home_filter__page-current {
    font-size: 1.4rem;
    color: var(--primary_color);
}

.home_filter__page {
    display: flex;
    align-items: center;
}

.home_filter__page-control {
    line-height: 32px;
}

.home_filter__page-btn {
    width: 40px;
    height: 50px;
}

.home_filter-icon {
    font-size: 1.6rem;
    line-height: 20px;
}


/* product  */

.home-product-item {
    display: block;
    text-decoration: none;
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: var(--while__color);
    border: 1px solid #a8a7a7;
    border-radius: 5px;
    box-shadow: rgb(0 0 0 / 10%) 0px 0.0625rem 0.125rem 0px;
    transition: transform linear 0.01s;
}

.home-product-item:hover {
    transform: translateY(-3px);
    box-shadow: rgb(0 0 0 / 10%) 0px 0.0925rem 0.125rem 0px;
}

.home-product-item-img {
    padding-top: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    border-radius: 3px;
}

.home-product-item_name {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--text__color);
    line-height: 1.8rem;
    height: 3.6rem;
    margin: 10px 10px 4px;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.home-product-item_price {
    display: flex;
    padding-left: 10px;
    align-items: baseline;
}

.home-product-item_price-old {
    font-size: 1.2rem;
    color: var(--text__color);
    text-decoration: line-through;
}

.home-product-item_price-current {
    font-size: 1.6rem;
    color: var(--primary_color);
    margin-left: 4px;
}

.home-product-item-action {
    margin: 10px;
    display: flex;
    justify-content: space-between;
}

.home-product-item-like {
    font-size: 1.3rem;
    color: red;
}

.home-product-item-star {
    font-size: 1.2rem;
    margin-left: auto;
}

.home-product-item-star-gold {
    color: gold;
}

.home-product-item-soid {
    align-items: center;
    font-size: 1.3rem;
    margin-left: 3px;
}

.home-product-item-origin {
    display: flex;
    justify-content: space-between;
    margin: 0 10px 10px;
    font-size: 1rem;
    color: var(--text__color);
}

.home-product-item-favorite {
    position: absolute;
    top: 10px;
    left: -4px;
    background-color: var(--primary_color);
    color: var(--while__color);
    line-height: 1.6rem;
    font-size: 1rem;
    font-weight: 500;
    padding: 2px 5px;
    border-radius: 3px;
}

.home-product-item-favorite::after {
    content: "";
    position: absolute;
    left: 0px;
    bottom: -3px;
    border-top: 4px solid #000;
    border-left: 4px solid transparent;
}

.home-product__panination {
    margin: 48px 0 32px;
}


/* footer */

.footer {
    border-top: 4px solid var(--primary_color);
}

.footer__heading {
    font-size: 1.4rem;
    font-weight: 900;
    color: rgba(0, 0, 0, .54);
    margin-bottom: 1.25rem;
    margin-top: 2.5rem;
    text-transform: uppercase;
}

.footer__list {
    display: block;
    color: var(--text__color);
    margin-bottom: 1.5rem;
}

.footer__item {
    margin-bottom: 12px;
    text-transform: capitalize;
}

.footer__item:hover .footer__link {
    color: var(--primary_color);
}

.footer__link {
    color: var(--text__color);
    font-size: 1.4rem;
    text-decoration: none;
}

.footer_pay-list {
    display: flex;
    flex-wrap: wrap;
    width: 190px;
    height: 64px;
}

.footer_pay-item {
    width: 43px;
    height: 29px;
    margin-bottom: .5rem;
    margin-right: .5rem;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
}

.footer_pay-icon {
    width: 3.4375rem;
    height: 1.8125rem;
}

.footer_visa-item {
    width: 100%;
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    border-radius: 3px;
}

.footer__link_ti {
    height: 1rem;
    width: 1rem;
    margin-bottom: .25rem;
    margin-right: .625rem;
    padding-right: 5px;
}

.footer__download {
    display: flex;
    width: 100%;
    height: 5.25rem;
}

.footer__QR {
    border: .0625rem solid rgba(0, 0, 0, .09);
    width: 5.25rem;
    margin-right: .9375rem;
}

.footer__download-app {
    height: 5.25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.footer__download-app-img {
    height: 50%;
}


/* footer_All_rights_reserved */

.footer_All_rights_reserved {
    display: flex;
    padding: 40px 0;
    width: 100%;
    justify-content: space-between;
    background-color: var(--while__color);
}

.footer_All_rights_reserved-copyright {
    font-size: 1.6rem;
    font-size: 1.6rem;
}

.footer_All_rights_reserved-country {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.country_list {
    font-size: 1.6rem;
    line-height: 1.6rem;
    margin: 0 5px;
}

.country_list:hover .country-item {
    color: var(--primary_color);
}

.country-item {
    font-size: 1.6rem;
    text-decoration: none;
    color: rgba(0, 0, 0, .54);
}


/* end */

.end {
    background-color: #f5f5f5;
}

.end_wrap {
    width: 100%;
    padding: 42px 0;
    width: 100%;
}

.end_security {
    margin-bottom: 40px;
}

.end_security-list {
    display: flex;
    display: flex;
    justify-content: center;
}

.end_security-item {
    padding: 0 1.5625rem;
    border-right: 1px solid rgba(0, 0, 0, .09);
    text-transform: uppercase;
    font-size: 1.4rem;
    color: rgba(0, 0, 0, .65);
}

.end_security-item {
    cursor: pointer;
}


/* end ccdv */

.end_CCDV {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 0;
}

.end_CCDV-item {
    padding: 0 20px;
}

.end_CCDV-icon {
    width: 100px;
    height: 40px;
}

.end_company {
    display: flex;
    justify-content: center;
    margin: 8px 0 25px;
    font-size: 1.4rem;
    color: rgba(0, 0, 0, .85);
}

.end_address {
    display: flex;
    justify-content: center;
    padding-top: 8px;
    font-size: 1.4rem;
    color: rgba(0, 0, 0, .85);
}